# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package Publish (Commit) (Linux-Raspberry-Pi-arm)

on:
  push:
    branches: [ "*" ]
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - run: ls -al
      - run: find
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: ~> v2
          args: release --snapshot --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: ls -al
      - run: find

      - name: Golang Build
        run: ./statically_linked_compilation.sh
        
      - name: Golang Test
        run: go test -v ./...
        
      - run: ./build_webui.sh
      
      - name: Run Check Version
        run: ./dist/mao-service-discovery_linux_arm_6/Mao-Service-Discovery -v
        
      - run: cp -vf ./dist/mao-service-discovery_linux_arm_6/Mao-Service-Discovery ./.npm-release-binary-raspberry-pi/
      - run: cp -vrf ./resource/ ./.npm-release-binary-raspberry-pi/
      
      - run: git config --global user.email "maojianwei2016@126.com"
      - run: git config --global user.name "Jianwei Mao"
      
      - name: Refresh version for NPM Package
        working-directory: ./.npm-release-binary-raspberry-pi/
        run: npm version prerelease --preid RaspberryPi-rc1-$GITHUB_REF_NAME-$GITHUB_SHA

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish NPM Package
        working-directory: ./.npm-release-binary-raspberry-pi/
        run: npm publish --tag latest

        
  # build-golang:
  #   runs-on: PI-2B
  #   steps:
  #     - uses: actions/checkout@v4

  #     # Mao: using the go toolchain deployed in the exist env, Raspberry PI 2B.
  #     # - name: Set up Go
  #     #   uses: actions/setup-go@v3
  #     #   with:
  #     #     go-version: '1.21.6'
          
  #     - name: Golang Build
  #       run: ./statically_linked_compilation.sh
        
  #     - name: Golang Test
  #       run: go test -v ./...
        
  # build-npm:
  #   runs-on: PI-2B
  #   needs: build-golang
  #   steps:
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 18
  #         registry-url: https://registry.npmjs.org/

  #     - run: ./build_webui.sh
      
  #     - name: Run Check Version
  #       run: ./MaoServerDiscovery -v
        
  #     - run: mv ./MaoServerDiscovery ./.npm-release-binary/
  #     - run: cp -vrf ./resource/ ./.npm-release-binary/
      
  # publish-npm:
  #   runs-on: PI-2B
  #   needs: build-npm
  #   steps:
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 18
  #         registry-url: https://registry.npmjs.org/
      
  #     - run: git config --global user.email "maojianwei2016@126.com"
  #     - run: git config --global user.name "Jianwei Mao"
      
  #     - name: Refresh version for NPM Package
  #       working-directory: ./.npm-release-binary/
  #       run: npm version prerelease --preid Raspberry-Pi-rc1-$GITHUB_REF_NAME-$GITHUB_SHA
        
  #     - name: Publish NPM Package
  #       working-directory: ./.npm-release-binary/
  #       run: npm publish
  #       env:
  #         NODE_AUTH_TOKEN: ${{secrets.npm_token}}

# commit-`date "+%Y-%m-%d-%H-%M-%S"`
